<html>
<head>
   
   <title>Predict Breast Cancer</title>
   <link rel = "stylesheet" href = "styles.css">


</head>
<body>

 <div class="page">

   <!-- pure grid group -->
    <div class="pure-g">
         <h1><a id="logo" href="test.html">
            <img src="logo.png" alt="Logo">
          <p> Predict Breast Cancer </p>
         
        </a>
           <!-- main navigation -->
      <nav>
        
        <ul>
           <li><a href="legal.html">Legal</a></li>
           <li><a href="predictivemodel.html">Predictive Model</a></li>
           <li><a href="understandingpage.html">Understanding Breast Cancer</a></li>
            <li><a href="aboutus.html">About Us</a></li>
          <li><a href="test.html">Home</a></li>

          
        </ul>
         
        <div class = "login">
          <a href = "login.html"> Log in </a>
        </div>
      </nav></h1>

      </div>
    </div>
    
   
  <!-- end pure grid group -->

     <!-- pure grid group -->
    <div class="pure-g">
        <div class="pure-u-1-2" style="width: 1600px; margin:0 auto;">
            <h3>Predict Breast Cancer</h3>
            <p>Predict Breast Cancer is an online tool that helps patients detect early stages of breast cancer via mammography. </p>
          
          </div>
       
       <div class="pure-u-1-2">
         <a id="laptop" href="test.html">
            <img src="laptop.png" alt="laptop">
           
        </a>
      
  </div>
      <a href ="predictivemodel.html" class = "button">Predict Here!</a>
       
  </div>
    
    <!-- end pure grid group -->
   
   <!-- pure grid group -->
    <div class="pure-g">
      <div class="pure-u-1-1">
          <h2>Our Customer</h2>
      </div>
 
             <img src="clienta.png" alt="" width="200" height="250"  hspace=130  >
      
  
             <img src="clientb.png" alt=""  width="200" height="250" hspace=130 >
       
 
             <img src="clientc.png" alt="" width="200" height="250" hspace=130 >
 
 </div>
     


    <!-- end pure grid group -->
      <!-- pure grid group -->
    <div class="pure-g">
        <div class="pure-u-1-2">
            <h2>Our Companies</h2>
          
          </div>

  </div>
       

    <!-- end pure grid group -->

  </div> <!-- end page -->
   


</script>
</body>
</html>